<template name="postPage">
  <div class="post-page page">
    {{>postItem}}

    <ul class ="comments">
      {{#each comments}}
        {{>commentItem}}
      {{/each}}
    </ul>
     {{#if currentUser}}
      {{> commentSubmit}}
    {{else}}
      <p>Please log in to leave a comment.</p>
    {{/if}}
  </div>
</template>

